venv/
env/
ENV/


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.egg
*.egg-info/
dist/
build/
.eggs/



db.sqlite3
*.sqlite3
*.sql
*.dump
*.log
*.pot
*.pyc
/staticfiles/
media/
data.json 

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db

.env
.env.*